.main-container{
    padding-top: 100px;
    width: 60%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pane{
    margin-top:15px;
   width: 500px; 
   height: 250px;
   border: solid red 1px;
}

.second-codemirror-container {
    margin-top: 25px;
}